div.MainRow{
    height:100%;
}
div.SecondaryRow{
    height:100%;
}
.col-md-4{
    height:100%;
}
.labelDiv{
    width:70px;
    float: left;
}
.form-group{
    margin-bottom:15px ;
    float: inherit;
}
html{
    height: 100%;
}
body{
    height: 100%;
}
.container{
    height: 100%;
}
.form-inline {

    margin-top: 30px;
    padding: 10px;

}
.btn {
    margin-left: 60%;
}
.col-md-12{
    height:100%;
}